h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

body {
  text-align: center;
 }

.boxed {
  border: 1px solid rgb(128, 128, 128) ;
    width: 150px;
    align-content: center
}

.header {
    height:50px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
}


#text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #ff0000;
}
