h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

body {
  text-align: center;
 }

.boxed {
  border: 1px solid rgb(128, 128, 128);
    width: 190px;
    height: 190px;
    align-content: center;
    text-align: center;
    background-color: #f2d6a2;
}

.header {
    height:50px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
}


#text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #a2a2a2;
}

#head {
    font-weight: 700;
    color: #727272;
}

